<h1>Edit Appointment on <%= @appointment.date %></h1>

<form action="/appointments/<%=@appointment.id %>" method="POST">
  <label> Appointment Date </label>
  <input type="text" name="date" value="<%=@appointment.date %>"> </br>

  <label> Appointment Start </label>
  <input type="text" name="start" value="<%=@appointment.start %>"> </br>

  <label> Appointment Finish</label>
  <input type="text" name="finish" value="<%= @appointment.finish %>">
  <input type="submit" value="Update">
</form>
