<% @appointments.each_with_index do |appt,i| %>
  <h2>Appointment #<%= i+1 %></h2>
  <h2>Appointment Date</h2>
  <h3><%= appt.date %></h3>

  <h2>Start Time:</h2>
  <h3><%= appt.start_string %></h3>

  <h2>Finish Time</h2>
  <h3><%= appt.finish_string %></h3>

  <a href="/appointments/<%=appt.id%>/edit">Edit</a>

  <hr>
<% end %>
